* {
  box-sizing: border-box;
  margin: 0;
}
body{
  background: whitesmoke;
  font-family: 'Russo One', sans-serif;
}

/*----------------products----------------*/

.aboutItem{
  display: flex;
  border: 0.5px solid #bdbdbd;
  padding: 10px;
}
.img-item{
  width: 50%;
}
.item-description, .item-price{
  margin: 0 20px;
}

/*--------------productsDetail-----------*/

#product{
  width: 100%;
}