* {
  box-sizing: border-box;
  margin: 0;
}
body{
  background: whitesmoke;
  font-family: 'Russo One', sans-serif;
}

.overlay {
  height: 0;
  width: 0;
  position: fixed;
  background: rgba(255, 128, 128, 0.95);
  z-index: 1;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  text-align: center;
  margin: 20% auto;
  
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn {
  float: right;
}

span {
  margin: 4%;
}