div.footer{
    display: flex;
    background-color:#000000;
    width: 100%;
    flex-direction: row;
    margin: 0;
  }
  .footerBox{
    padding: 0;
    margin-top: 5%;
  }
  div.footer article{
    padding: 5%;
    width: 100%;
  }
  div.footer img{
    width: 100%;
    border-radius: 30px;
  }
  div.footer h2,p{
    color: rgba(245, 245, 245, 0.863);
    letter-spacing: 1px;
  }
  div.footer a{
    font-size: 20px;
    line-height: 2;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.863);
  }
  div.footer a:hover{
    color: rgba(0, 102, 255, 0.829);
  }
  div.footer p{
    font-size: 20px;
  }