 #nav{
    background-color: #3a3a3a;
    margin-bottom: 5%;
    padding: 10px;
  }
  #imgLogo{
    width: 100%;
    margin-bottom: 5%;
  }
  #minicart {
    color: whitesmoke;
    font-size: 1.7em;
    line-height: 2em;
  }
  #minicart:hover{
    color: #006cfad0;
  }
  #search{
    border-radius: 15px;
    border: none;
    width: 95%;
  }
  #search::placeholder{
    color: rgb(206, 206, 206);
  }