<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Detail Oeste</title>
		<link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
			<div class="flex-container">
				<section>
					<button><a href="">Registrarse</a></button>
					<button><a href="">Iniciar Sesión</a></button>
				</section>

				<section>
					<a href=""><img id="imgLogo" src="/images/Logo-txt.jpg" alt=""></a>
				</section>
				
				<section><a href=""><i class="fas fa-shopping-cart"></i></a></section>
				
			</div>
			
			<div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
				<div class="hamburger"></div>
			</div>

				<section id="site-nav" class="site-nav">
					<ul>
						<li><a href="#"><i class="fa fa-home site-nav--icon"></i>Productos</a></li>
						<li><a href="#"><i class="fa fa-info site-nav--icon"></i>Servicios</a></li>
						<li><a href="#"><i class="fa fa-pencil-alt site-nav--icon"></i>Turnos</a></li>
						<li><a href="#"><i class="fa fa-dollar-sign site-nav--icon"></i>Nosotros</a></li>
						<li><i class="fa fa-dollar-sign site-nav--icon"></i><input type="search" placeholder="Buscar..."></li>
					</ul>
				</section>

				<div class="slideBanner">
					<ul>
						<li><img src="/images/fiesta2.jpg" alt="Mejores Trabajos"></li>
						<li><img src="/images/P208.jpg" alt="Mejores Trabajos"></li>
						<li><img src="/images/ram.jpg" alt="Mejores Trabajos"></li>
						<li><img src="/images/palio.jpg" alt="Mejores Trabajos"></li>
						<li><img src="/images/llanta.jpg" alt="Mejores Trabajos"></li>
						<li><img src="/images/golPower.jpg" alt="Mejores Trabajos"></li>
					</ul>
				</div>

				<div class="footer">
					<section>
						<article id="logoFooter"><img src="/images/Logo.mono.png" alt="logo"></article>
						<article>
							<h2><strong>Contacto</strong></h2>
							<a href="mailto:">detailoeste@gmail.com</a>
							<br>
							<a href="https://api.whatsapp.com/send?phone=5491162972522"><i class="fab fa-whatsapp"></i> (+54) 9 11 6297-2522</a>
						</article>
						<article>
							<h2>Horario de Atención</h2>
							<p>Lunes a Viernes de 9:30 a 19:00 hs.</p>
							<p>Sábados de 10:00 a 17:00 hs.</p>
						</article>
						<article>
							<h2>Follow</h2>
							<a href="https://www.facebook.com/detailoeste1"><i class="fab fa-facebook-square"></i> Facebook</a>
							<br>
							<a href="https://www.instagram.com/detailoeste/"><i class="fab fa-instagram"></i> Instagram</a>
						</article>
					</section>
				</div>

	<script src="/js/navApp.js"></script>
	</body>
</html>