<%-include('./partials/head')%>

<%-include('./partials/header')%>

		<div class="slideBanner">
			<ul>
				<li><img src="/images/fiesta2.jpg" alt="Mejores Trabajos"></li>
				<li><img src="/images/P208.jpg" alt="Mejores Trabajos"></li>
				<li><img src="/images/ram.jpg" alt="Mejores Trabajos"></li>
				<li><img src="/images/palio.jpg" alt="Mejores Trabajos"></li>
				<li><img src="/images/llanta.jpg" alt="Mejores Trabajos"></li>
				<li><img src="/images/golPower.jpg" alt="Mejores Trabajos"></li>
			</ul>
		</div>

<%-include('./partials/footer')%>

<%-include('./partials/foot')%>