<%-include('./partials/head')%>

<%-include('./partials/header')%>

<div class="container">
    <div class="row">
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                <img class="img-item" src="/images/producto.jpg" alt="toxic">
                <div class="item">
                    <div class="item-price">
                        $1000
                    </div>
                    <div class="item-description">
                        Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                    </div>
                </div>
            </div>
        </a>
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                    <img class="img-item" src="/images/producto.jpg" alt="toxic">
                    <div class="item">
                        <div class="item-price">
                            $1000
                        </div>
                        <div class="item-description">
                            Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                        </div>
                    </div>
            </div>
        </a>
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                    <img class="img-item" src="/images/producto.jpg" alt="toxic">
                    <div class="item">
                        <div class="item-price">
                            $1000
                        </div>
                        <div class="item-description">
                            Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                        </div>
                    </div>
            </div>
        </a>
        <a href="/productos/detalle">
            <div class="aboutItem col-sm-12 col-md-6">
                    <img class="img-item" src="/images/producto.jpg" alt="toxic">
                    <div class="item">
                        <div class="item-price">
                            $1000
                        </div>
                        <div class="item-description">
                            Cera Golden Sean de Toxic Shine. Realza el brillo de tu carrocería aplicando después del lavado.
                        </div>
                    </div>
            </div>
        </a>    
    </div>
</div>

<%-include('./partials/footer')%>

<%-include('./partials/foot')%>