<div class="footerBox container-fluid">
    <div class="footer row">
            <article class="offset-4 col-4 offset-md-0 col-md-4 col-lg-3" id="logoFooter"><img src="/images/Logo.mono.png" alt="logo"></article>
            <article class="offset-4 col-4 offset-md-0 col-md-4 col-lg-3">
                <h2><strong>Contacto</strong></h2>
                <a href="mailto:">detailoeste@gmail.com</a>
                <br>
                <a href="https://api.whatsapp.com/send?phone=5491162972522"><i class="fab fa-whatsapp"></i> (+54) 9 11 6297-2522</a>
            </article>
            <article class="offset-4 col-4 offset-md-0 col-md-4 col-lg-3">
                <h2>Horario de Atención</h2>
                <p>Lunes a Viernes de 9:30 a 19:00 hs.</p>
                <p>Sábados de 10:00 a 17:00 hs.</p>
            </article>
            <article class="offset-4 col-4 offset-md-0 col-md-4 col-lg-3">
                <h2>Follow</h2>
                <a href="https://www.facebook.com/detailoeste1"><i class="fab fa-facebook-square"></i> Facebook</a>
                <br>
                <a href="https://www.instagram.com/detailoeste/"><i class="fab fa-instagram"></i> Instagram</a>
            </article>
    </div>
</div>