<%-include('../partials/head')%>

<%-include('../partials/header')%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Bienvenido Administrador!</h1>
            <h5>Aquí Tiene una lista de sus productos:</h5>
            
        </div>
    </div>
</div>

<%-include('../partials/footer')%>

<%-include('../partials/foot')%>